#vote {
    ul {
        li {
            list-style: none;
        }
        .success{
            background-color: #90ee90;
        }
        .danger{
            background-color: #ff726f;
        }
    }
}
